.footer {
    /* padding: 0 165px 0 165px; */
    background: hsl(214, 47%, 97%);
    box-sizing: border-box;
}

.subscription {
    width: 100%;
    height: 97px;
    background: #6F73EE;
    display: flex;
    gap: 95px;
    justify-content: space-between;
    align-items: center;
}

.subscription h1 {
    margin-left: 165px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.subscriptionForm {
    display: flex;
    gap: 20px;
    margin-right: 165px;
}

.footerInput {
    width: 410px;
    height: 53px;
    background: #FFFFFF33;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.footerInput::placeholder {
    padding-left: 25px;
    color: white;
    opacity: 1;
} 

.subscriptionForm button {
    width: 140px;
    height: 53px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #6F73EE;
    font-size: 16px;
}



/* !!! */



.main {
    margin: 46px 165px 49px 165px;
    display: flex;
    gap: 110px;
    justify-content: space-between;
}

.Links {
    display: flex;
    gap: 125px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.column h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #282739;
}

.categories, .col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories a, .col a{
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #5D6C7B;
}

.linksColumn {
    display: flex;
    gap: 44px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts h3 {
    margin: 0;
    color: #282739;
    font-size: 18px;
    font-weight: 400;
}

.calls {
    margin-top: 17px;
    margin-bottom: 28px;
    display: flex;
    gap: 40px;
}

.calls h3 {
    margin-top: 5px;
    margin-bottom: 7px;
    color: #282739;
    font-size: 16px;
    font-weight: 400;
}

.calls p {
    margin: 0;
    color: #5D6C7B;
    font-size: 12px;
}

.addresses {
    display: flex;
    gap: 50px;
}

.address1, .address2, .address3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address1 {
    width: 132px;
}

.address2 {
    width: 114px;
}

.address3 {
    width: 145px;
}

.addresses p {
    margin: 0;
    color: #5D6C7B;
    font-size: 12px;
}

.addresses h4 {
    margin: 0;
    width: 100%;
    color: #282739;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 17.99px
}


/* !!! */


.footerBottom {
    margin: 0 165px 0 165px;
    padding: 36px 0 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(93, 108, 123, 0.15);
    border-bottom: 1px solid rgba(93, 108, 123, 0.15);
}

.logoLink {
    font-size: 30px;
    font-weight: 700;
    line-height: 43.35px;
    text-align: left;
    color:  #282739;
}

.apps {
    display: flex;
    gap: 8px;
}

.socials {
    display: flex;
    gap: 10px;
}


/* !!! */


.footerBottom2 {
    margin: 0 165px 0 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
}

.policies {
    display: flex;
    gap: 44px;
}

.payments {
    display: flex;
    gap: 4.87px;
}

.chatting {
    display: flex;
    gap: 14px;
}

.chatting p{
    font-size: 14px;
    font-weight: 400;
    color: #282739;
}