.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topHeader {
  margin: 0 165px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.border {
  border-bottom: 1px solid #ECF3FF;
}

.topHeaderLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}

a {
  color: #5D6C7B;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  text-align: left;
}

.topHeaderRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.plus {
  background: transparent;
  border: 1px solid #5D6C7B;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.plus::before,
.plus::after {
    content: '';
    position: absolute;
    background-color: #5D6C7B;
}
.plus::before {
  width: 8px;
  height: 1px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.plus::after {
  width: 1px;
  height: 8px;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.mainHeader {
  margin: 30px 165px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  text-align: left;
  color:  #282739;
}

.catalogBtn {
  width: 114px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #6F73EE;
  display: flex;
  align-items: center;
  gap: 13px;
}

.buttonText {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-left: 4px;
}

.burgerMenu span {
  display: block;
  height: 1.3px;
  width: 13px;
  background-color: white;
  transition: all 0.3s ease;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #6F73EE;
  border-radius: 5px;
  width: 603px;
  height: 40px;
}

.dropdown {
  width: 76px;
  height: 32px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #F4F7FB;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-right: 20px;
  margin-left: 4px;
}

.searchInput {
  flex: 1;
  background-color: transparent;
  color: #d3d3d3;
  font-size: 14px;
  border: none;
  outline: none;
}

.searchInput::-moz-placeholder {
  color: #5D6C7B;
}

.searchInput::placeholder {
  color: #5D6C7B;
}

.searchButton {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #6F73EE;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1.5px solid #6F73EE;
  cursor: pointer;
}

.searchButton img {
  width: 16px;
  height: 16px;
}

.cartContent {
  width: 175px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu {
  background: #F4F7FB;
  width: 100%;
}

.menuContent {
  margin-left: 165px;
  width: 776px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discountsMenu {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delivery {
  position: relative;
  margin-right: 114px;
}

.delivery .deliveryspan {
  position: absolute;
  top: 0;
  right: -114px;
  width: 106px;
  height: 17px;
  border-radius: 300px;
  background-color: #6F73EE;
  border: none;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}