.header {
    
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_header {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
}

.border {
    border-bottom: 1px solid #ECF3FF;
}

.top_header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.social_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

a {
    color: #5D6C7B;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.34px;
    text-align: left;
}

.top_header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.main_header {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 43.35px;
    text-align: left;
}

.catalogBtn {
    width: 114px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #6F73EE;  
    display: flex;
    align-items: center;
    gap: 13px;
}

.button-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
  
.burger-menu span {
    display: block;
    height: 1.3px;
    width: 13px;
    background-color: white;
    transition: all 0.3s ease;
}
  

.search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid #6F73EE;
    border-radius: 5px;
    width: 603px;
    height: 40px;
}

.dropdown {
    width: 76px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #F4F7FB;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-right: 20px;
    margin-left: 4px;
}

.search-input {
    flex: 1;
    background-color: transparent;
    color: #d3d3d3;
    font-size: 14px;
    border: none;
}

.search-input::placeholder {
    color: #5D6C7B;
    
}

.search-button {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #6F73EE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1.5px solid #6F73EE;
    cursor: pointer;
}

.search-button img {
    width: 16px;
    height: 16px;
}


.cart_content {
    width: 175px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu {
    background: #F4F7FB;
    width: 100%;
}

.menu_content {
    margin-left: 165px;
    width: 776px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo {
    display: flex;
    align-items: center; /* Выравнивание текста и изображения по вертикали */
  }
  
  .promo-text {
    font-size: 24px; /* Размер шрифта для текста */
    font-weight: bold;
    color: white; /* Цвет текста */
    margin-right: 8px; /* Отступ между текстом и изображением */
  }
  
  .promo-icon {
    width: 20px; /* Ширина изображения */
    height: 20px; /* Высота изображения */
    border-radius: 50%; /* Скругление, чтобы сделать изображение круглым */
    background-color: #6f7ce2; /* Фоновый цвет, если картинка прозрачная */
  }
  